@charset "utf-8";
/* Made by Marinette Chen July 23, 2019 */


.location_gallery {
	margin-top: 10%;
	margin-bottom: 10%
}

@media only screen and (max-width:480px) {
	.location_gallery .col-sm-4 {
		margin-top: 2%;
	}
}