@charset "utf-8";

li {
	font-size: 20px;
	color: black;
	line-height: 150%;
}

.contact-info {

}

.contact-info p {
	color: black;
	font-size: 20px;
	line-height: 150%;
}

.contact-info h4 {
	margin-top: 5%;
}

.carousel {
	overflow:hidden;
}
.carouselContainer {
	width: auto;
	height: auto;
	overflow: hidden;
}


.item img {
	height:100%;
	width:100%;
}

.carouselContainer .item active
@media only screen and (max-width: 480px) {
	.mySlides {
		width: auto;
		height: 200px;
	}
	
	.carouselContainer {
		margin-top: 17.5%;
		width: auto;
		height:100%;
	}
	
	.myMiddleSlides {
		width:auto;
		height:200px;
	}
	
}